#define DEFAULT 0
#define NUM     1
#define SYM     2
#define ACC     3
#define MOVE    4
#define MOUSE   5
#define SYS     6
#define SCROLL  7
#define SNIPE   8

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        tmux_s: tmux_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp S>;
            label = "TMUX_S";
        };

        tmux_d: tmux_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp D>;
            label = "TMUX_D";
        };

        tmux_f: tmux_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp F>;
            label = "TMUX_F";
        };

        tmux_g: tmux_g {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp G>;
            label = "TMUX_G";
        };

        tmux_space: tmux_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp SPACE>;
            label = "TMUX_SPACE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";
            bindings = <
&kp TAB           &kp Q             &kp W            &kp E           &kp R         &kp T                   &kp Y            &kp U    &kp I           &kp O    &kp P                 &kp BACKSPACE
&mt LCTRL ESCAPE  &mt LEFT_SHIFT A  &lt 3 S          &mt LEFT_ALT D  &lt 2 F       &kp G                   &kp H            &lt 2 J  &mt LEFT_ALT K  &lt 3 L  &mt RIGHT_SHIFT SEMI  &kp SQT
&kp LEFT_SHIFT    &kp Z             &kp X            &kp C           &kp V         &kp B                   &kp N            &kp M    &kp COMMA       &kp DOT  &kp SLASH             &mt RIGHT_SHIFT ENTER
&kp RCTRL         &kp LALT          &lt 5 RIGHT_ALT  &lt 1 SPACE     &kp LEFT_GUI             &lt 2 ENTER  &lt 4 BACKSPACE                                                          &kp LC(LA(LG(SPACE)))
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&kp GRAVE  &kp EXCL      &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT               &kp CARET     &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5              &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9          &kp NUMBER_0           &trans
&trans     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0              &none         &none          &none         &none                 &none                  &trans
&trans     &trans        &trans        &trans        &trans                          &trans  &mo 6                                                                                   &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&trans  &trans     &trans   &trans   &trans   &tmux_space              &kp PLUS        &kp LBKT              &kp RBKT               &kp DOUBLE_QUOTES  &kp PIPE              &none
&trans  &kt LC(A)  &tmux_s  &tmux_d  &tmux_f  &tmux_g                  &kp MINUS       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE   &kp EQUAL             &kt TILDE
&trans  &trans     &trans   &trans   &trans   &trans                   &kp UNDERSCORE  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GRAVE          &kp NON_US_BACKSLASH  &none
&trans  &trans     &trans   &trans   &trans                    &trans  &trans                                                                                                &trans
            >;
        };

        accent_layer {
            bindings = <
&trans  &trans  &trans  &kp E   &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };

        movement_layer {
            bindings = <
&kp TILDE  &kp F1  &kp F2  &kp F3  &kp F4      &kp F5                    &kp F6    &kp F7          &kp F8        &kp F9           &kp F10  &kp F11
&trans     &trans  &trans  &trans  &kp K_MUTE  &kp C_VOL_UP              &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans   &kp F12
&trans     &trans  &trans  &trans  &trans      &kp C_VOL_DN              &kp HOME  &kp PAGE_DOWN   &kp PG_UP     &kp END          &trans   &trans
&trans     &trans  &trans  &mo 6   &trans                        &trans  &trans                                                            &trans
            >;

            label = "MOVE";
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&none   &trans     &trans     &trans  &trans     &trans              &trans  &trans          &trans        &trans     &trans     &trans
&trans  &mkp MCLK  &mkp LCLK  &trans  &mkp LCLK  &trans              &trans  &mkp LCLK       &mo 7         &mkp RCLK  &mkp MCLK  &trans
&trans  &trans     &trans     &trans  &trans     &trans              &trans  &msc SCRL_DOWN  &msc SCRL_UP  &trans     &trans     &mo 8
&trans  &trans     &trans     &mo 7   &trans                 &trans  &trans                                                      &trans
            >;
        };

        system_layer {
            label = "SYS";
            bindings = <
&none   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4              &none   &none  &none  &none  &none  &bt BT_CLR
&none   &none         &none         &none         &none         &none                     &none   &none  &none  &none  &none  &none
&none   &none         &none         &none         &none         &none                     &none   &none  &none  &none  &none  &none
&trans  &trans        &trans        &trans        &trans                          &trans  &trans                              &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &mo 7   &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &mo 8
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };
    };
};
